#nw{
    padding-left:550px ;
    padding-right:200px ;
    padding-top:300px ;
    padding-bottom:200px ;
}
body{
    
   
    background: linear-gradient(to right, #ffb6c1, #ffeb99, #a5d6a7, #81d4fa);
}
